<!-- <div class="bg-white shadow rounded overflow-hidden group">
    <a [routerLink]="'/products/'+product.id">
        <div class="relative left-1/3 md:left-1/4">
            <img [src]="product.image" [alt]="product.title" class="card-image">
        </div>
    </a>

    <div class="pt-4 pb-3 px-4">
        <a href="#">
            <h4 class="uppercase font-medium text-sm md:text-xl mb-2 text-gray-800 hover:text-primary transition">
                {{limitedTitle()}}</h4>
        </a>
        <div class="bg-blue-100 rounded-md text-blue-500 px-3 py-1 text-center text-xs font-bold custom-w">
            {{product.category}}
        </div>
        <div class="flex items-baseline mb-1 space-x-2">
            <p class="text-sm md:text-xl text-primary font-semibold">${{product.price}}</p>
            <p class="text-xs mt-2 md:text-sm text-gray-400 line-through">${{product.price + 10 | number: '2.0-2'}}</p>
        </div>
        <div class="flex-col md:flex items-start">
            <div class="flex gap-1 text-sm text-yellow-400">
                <fa-icon *ngFor="let item of stars; let i = index" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="product.rating.rate % 1 !== 0" [icon]="faStarHalfStroke"></fa-icon>
                <fa-icon *ngFor="let item of regularStars; let i = index" [icon]="faStarRegular"></fa-icon>
                <span class="text-xs text-yellow-400">({{product.rating.rate}})</span>
            </div>
            <div class="text-sm text-gray-500">({{product.rating.count}})</div>
        </div>
    </div>
    <div class="flex">
        <button (click)="addToCart()"
            class="block text-white w-full py-1 rounded-bl pl-2 pr-3 border border-r-white bg-primary hover:shadow-lg transition">
            Pay now
        </button>
        <button (click)="addToWishList()"
            class="block py-1 pl-2 pr-3 border border-r-white bg-primary hover:shadow-lg transition">
            <svg fill="#ffffff" height="30px" width="30px" version="1.1" id="XMLID_298_"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"
                xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                <g id="SVGRepo_iconCarrier">
                    <g id="favorite">
                        <path
                            d="M12,23.2l-0.6-0.5C8.7,20.7,0,13.5,0,7.3C0,3.8,2.9,1,6.5,1c2.2,0,4.3,1.1,5.5,2.9l0,0l0,0C13.2,2.1,15.3,1,17.5,1 C21.1,1,24,3.8,24,7.3c0,6.3-8.7,13.4-11.4,15.5L12,23.2z M6.5,2.9C4,2.9,2,4.8,2,7.2c0,4.1,5.1,9.5,10,13.4 c4.9-3.9,10-9.3,10-13.4c0-2.4-2-4.3-4.5-4.3c-1.6,0-3,0.8-3.8,2L12,7.6L10.3,5C9.5,3.7,8.1,2.9,6.5,2.9z" />
                    </g>
                </g>

            </svg>
        </button>
        <button (click)="addToCart()"
            class="block py-1 pl-2 pr-3 rounded-br border border-r-white bg-primary hover:shadow-lg transition">
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M21 5L19 12H7.37671M20 16H8L6 3H3M16 5.5H13.5M13.5 5.5H11M13.5 5.5V8M13.5 5.5V3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z"
                        stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
        </button>
    </div>
</div> -->



<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a [routerLink]="'/products/'+product.id" class="flex justify-center relative">
        <img class="p-8 rounded-t-lg h-80 w-80" [src]="product.image" [alt]="product.title" loading="lazy" />
        <div class="absolute top-0 left-0 bg-red-500 text-white px-2 py-1 m-2 rounded-md text-xs font-medium">SALE
        </div>
    </a>
    <div class="px-5 pb-5">
        <a [routerLink]="'/products/'+product.id">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{limitedTitle()}}</h5>
        </a>
        <div class="flex-col md:flex items-start mt-2">
            <div class="flex items-end gap-1 text-sm text-yellow-400">
                <fa-icon *ngFor="let item of stars; let i = index" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="product.rating.rate % 1 !== 0" [icon]="faStarHalfStroke"></fa-icon>
                <fa-icon *ngFor="let item of regularStars; let i = index" [icon]="faStarRegular"></fa-icon>
                <span
                    class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">{{product.rating.rate}}</span>
                <div class="text-xs text-gray-500">({{product.rating.count}})</div>
            </div>
        </div>
        <div class="flex items-center justify-between mt-2">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">${{product.price}}</span>
        </div>
        <div class="flex items-center justify-between mt-4">
            <button *ngIf="!isCart" (click)="addToCart()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                to cart</button>
            <button *ngIf="isCart" (click)="DeleteFromCart()"
                class="text-red-500 bg-red-100 hover:bg-red-800 hover:text-red-100 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-xs px-2 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Remove from cart</button>
            <div class="flex items-center">
                <button (click)="handleWishList()"
                    class=" text-xs font-semibold p-2 rounded-lg dark:bg-blue-200 dark:text-blue-800 ms-3"
                    [ngClass]="isFavorite ? 'bg-red-100' : 'bg-[#e2e6e9]'">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <g id="SVGRepo_bgCarrier" stroke-width="0" />

                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                        <g id="SVGRepo_iconCarrier">
                            <path *ngIf="!isFavorite"
                                d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z"
                                fill="#727375" />
                            <path *ngIf="isFavorite"
                                d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z"
                                fill="#EF4444" />
                        </g>

                    </svg>
                </button>
                <button (click)="addToWishList()"
                    class="bg-[#e2e6e9] text-xs font-semibold p-2 rounded-lg dark:bg-blue-200 dark:text-blue-800 ms-3">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <g id="SVGRepo_bgCarrier" stroke-width="0" />

                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z"
                                fill="#727375" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z"
                                fill="#727375" />
                        </g>

                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>