<div class="h-full shadow-md">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="cursor">
        <div class="px-4 py-2 border bg-slate-100 flex items-center">
            <img src="assets/svgs/home.svg" alt="" width="20px" class="mr-2">
            <p class="text-[#1C274C]">Home</p>
        </div>
    </a>
    <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="px-4 py-2 border bg-slate-100 flex items-center">
            <img src="assets/svgs/product.svg" alt="" width="20px" class="mr-2">
            <p class="text-[#1C274C]">Products</p>
        </div>
    </a>
    <a routerLink="/users/manager" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="px-4 py-2 border bg-slate-100 flex items-center">
            <img src="assets/svgs/users.svg" alt="" width="20px" class="mr-2">
            <p class="text-[#1C274C]">Manage users</p>
        </div>
    </a>
</div>
